@import "bootstrap.min.css";
@import "prism.css";

@font-face {
    font-family: Vazir;
    src: url('../assets/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Vazir, serif;
    direction: rtl;
}

.tooltipClass {
    display:inline-block;
    max-width: 600px !important;
    direction: ltr;
    text-align: left;
    word-wrap: break-word;
}
