<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>استخراج اطلاعات حساب بانک ملی بیماران</title>
    
    <link href="/css/material-icons.css" rel="stylesheet" type="text/css">
    <link href="/css/quasar.rtl.min.css" rel="stylesheet" type="text/css">
    <link href="/css/site.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="app" v-cloak>
        <layout>
            @RenderBody()
        </layout>
    </div>
    
    
    <script src="/js/vue.min.js"></script>
    <script src="/js/quasar.umd.min.js"></script>
    <script src="/js/fa-ir.umd.min.js"></script>
    <script src="/js/axios.min.js"></script>
        
    @RenderSection("Scripts", required: false)
    
    <script src="/js/dist/Shared.js"></script>
</body>
</html>
